In [4]:
from zoo import hours

hours()

Open 9-5 daily

In [9]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

In [34]:
import sqlite3

conn = sqlite3.connect('books.db')

c = conn.cursor()

# I used the below code to create the table, and didn't need to use it any more (it would cause errors). However, I was unsure
# if you would want me to leave in the code so you could see if I did it correctly.

#c.execute("""CREATE TABLE books (
#            Title text,
#            Author text,
#            Year integer
#    )""")

#c.execute("INSERT INTO books VALUES ('The Weirdstone of Brisingamen', 'Alan Garner', 1960)")
#c.execute("INSERT INTO books VALUES ('Perdido Street Station', 'China Mieville', 2000)")
#c.execute("INSERT INTO books VALUES ('Thud!', 'Terry Pratchett', 2005)")
#c.execute("INSERT INTO books VALUES ('The Spellman Files', 'Lisa Lutz', 2007)")
#c.execute("INSERT INTO books VALUES ('Small Gods', 'Terry Pratchett', 1992)")

c.execute("SELECT Title FROM books")

titles = c.fetchall()

conn.commit()

conn.close()

sort_titles = sorted(titles)

print(sort_titles)

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]